<style>
  body {
    font-family: 'Arial', sans-serif;
    background-color: #edf2f7;
    margin: 0;
    padding: 0;
  }

  nav {
    display: flex;
    padding: 1.25rem 3rem;
    background-color: #38a169;
    color: #ffffff;
  }

  .nav-brand {
    width: 50%;
    padding-right: 1.5rem;
  }

  .nav-brand h1 {
    font-size: 1.5rem;
    font-weight: bold;
  }

  .nav-links {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .nav-links p {
    margin-right: 1rem;
  }

  .nav-link {
    font-weight: bold;
    padding: 0.75rem 1rem;
    margin-right: 1rem;
    text-decoration: none;
    border-radius: 0.25rem;
  }

  .nav-link-logout {
    background-color: #e53e3e;
    color: #ffffff;
  }

  .nav-link-login,
  .nav-link-register {
    border: 2px solid #ffffff;
    color: #ffffff;
    transition: background-color 0.3s, color 0.3s;
  }

  .nav-link-login:hover,
  .nav-link-register:hover {
    background-color: #ffffff;
    color: #38a169;
  }

  form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 2rem auto;
    max-width: 600px;
  }

  label {
    display: block;
    margin-top: 10px;
  }

  input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  input[type="submit"] {
    background-color: #4caf50;
    color: white;
    cursor: pointer;
  }

  input[type="submit"]:hover {
    background-color: #45a049;
  }

  /* Estilos para las columnas a la derecha */
  .right-columns {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
  }

  .right-column {
    width: 30%;
    /* Ajusta según sea necesario */
  }
</style>
</head>



<form action="/macrociclos/create" method="post" class="mx-auto">
  <h1 class="m-16 text-2xl font-bold text-gray-900">Crear nuevo macrociclo</h1>

  <label for="sportName">Nombre del deporte:</label>
  <input type="text" id="sportName" name="sportName" pattern="[a-z ]" required>

  <label for="branchName">Nombre de la rama:</label>
  <input type="text" id="branchName" name="branchName" pattern="[a-z]" required>

  <label for="branchHead">Nombre del jefe de rama:</label>
  <input type="text" id="branchHead" name="branchHead" pattern="[A-Za-z ]" required>

  <label for="assistantCoach">Nombre del entrenador auxiliar:</label>
  <input type="text" id="assistantCoach" name="assistantCoach" pattern="[A-Za-z ]" required>

  <label for="methodologist">Nombre del metodólogo:</label>
  <input type="text" id="methodologist" name="methodologist" pattern="[A-Za-z ]" required>

  <script>
    function calculateWeeks() {
      const startDate = new Date(document.getElementById('planStartDate').value);
      const endDate = new Date(document.getElementById('planEndDate').value);
      const millisecondsPerWeek = 1000 * 60 * 60 * 24 * 7;
      const weeks = Math.round((endDate - startDate) / millisecondsPerWeek);
      document.getElementById('weeks').textContent = 'Semanas: ' + weeks;
    }
  </script>

  <label for="planStartDate">Inicio del plan:</label>
  <input type="date" id="planStartDate" name="planStartDate" required onchange="calculateWeeks()">

  <label for="planEndDate">Fin del plan:</label>
  <input type="date" id="planEndDate" name="planEndDate" required onchange="calculateWeeks()">

  <label for="coreCompetency">Competencia fundamental del plan:</label>
  <input type="text" id="coreCompetency" name="coreCompetency" pattern="[a-z ]" required>

  <label for="numCells">Número de acentos:</label>
  <input type="number" id="numCells" name="numCells" min="1" onchange="createCells()">

  <table id="dynamicTable"></table>

  <script>
    function createCells() {
      const numCells = document.getElementById('numCells').value;
      const table = document.getElementById('dynamicTable');

      // Clear existing cells
      while (table.firstChild) {
        table.removeChild(table.firstChild);
      }

      // Create new cells
      const row = document.createElement('tr');
      for (let i = 0; i < numCells; i++) {
        const cell = document.createElement('td');
        const input = document.createElement('input');
        input.type = 'number';
        input.name = 'cell' + i;
        input.step = '0.01';
        input.min = '0';
        input.max = '1';
        input.required = true;
        input.oninput = updateTotal; // Update total when input changes
        cell.appendChild(input);
        row.appendChild(cell);
      }
      table.appendChild(row);

      // Create total element
      const totalElement = document.createElement('p');
      totalElement.id = 'total';
      table.after(totalElement);
    }

    function updateTotal() {
      const inputs = document.querySelectorAll('#dynamicTable input');
      let total = 0;
      inputs.forEach(input => {
        total += Number(input.value);
      });
      document.getElementById('total').textContent = 'Total: ' + total.toFixed(2) + '%';
    }
  </script>

  <p id="total"></p>
  <p id="weeks"></p>

  <label for="planStatus">Estado del plan:</label>
  <select id="planStatus" name="planStatus" required>
    <option value="">Selecciona un estado</option>
    <option value="aprobado">Aprobado</option>
    <option value="no aprobado">No aprobado</option>
  </select>

  <input type="submit" value="Crear">

</form>


<form action="/macrociclos/create/periodo" method="post" class="mx-auto">
  <h1 class="m-16 text-2xl font-bold text-gray-900">Crear Periodo</h1>


  <style>
    #cycleTable {
      display: flex;
      overflow-x: auto;
    }

    #cycleTable tr {
      display: flex;
      flex-direction: column;
    }

    #cycleTable td {
      margin: 5px;
      padding: 5px;
      border: 1px solid #ddd;
    }
  </style>

  <label for="numCycles">Número de ciclos:</label>
  <input type="number" id="numCycles" name="numCycles" min="1" required>

  <button type="button" id="generateTable">Generar tabla</button>

  <div id="tableContainer">
    <table id="cycleTable"></table>
  </div>

  <script>
    document.getElementById('generateTable').addEventListener('click', createTable);

    function createTable() {
      const numCycles = document.getElementById('numCycles').value;
      const table = document.getElementById('cycleTable');

      // Clear existing table
      while (table.firstChild) {
        table.removeChild(table.firstChild);
      }

      // Create new table
      createRow('Mesociclos', numCycles, 'number', 1);
      createRow('Microciclos', numCycles, 'number', 1);
      createRow('Ciclidad', numCycles, 'number', 0.01);
    }

    function createRow(label, numCells, type, step) {
      const table = document.getElementById('cycleTable');
      const row = document.createElement('tr');
      const labelCell = document.createElement('td');
      labelCell.textContent = label;
      row.appendChild(labelCell);
      for (let i = 0; i < numCells; i++) {
        const cell = document.createElement('td');
        const input = document.createElement('input');
        input.type = type;
        input.step = step;
        cell.appendChild(input);
        row.appendChild(cell);
      }
      table.appendChild(row);
    }
  </script>

  <input type="submit" value="Crear">
</form>


<form action="/macrociclos/create/periodo" method="post" class="mx-auto">
  <h1 class="m-16 text-2xl font-bold text-gray-900">Crear Periodos preparativos y competitivos</h1>

  <table id="customTable"></table>
  <script>
    function createTable() {
      const table = document.getElementById('customTable');

      // Clear existing table
      while (table.firstChild) {
        table.removeChild(table.firstChild);
      }

      // Create new table
      const labels = ['Periodo preparativo', 'Periodo competitivo'];
      for (let i = 0; i < 2; i++) {
        const row = document.createElement('tr');

        const labelCell = document.createElement('td');
        labelCell.textContent = labels[i];
        row.appendChild(labelCell);

        const decimalCell = document.createElement('td');
        const decimalInput = document.createElement('input');
        decimalInput.type = 'number';
        decimalInput.step = '1';
        decimalCell.appendChild(decimalInput);
        row.appendChild(decimalCell);

        const integerCell = document.createElement('td');
        const integerInput = document.createElement('input');
        integerInput.type = 'number';
        integerInput.step = '0.01';
        integerCell.appendChild(integerInput);
        row.appendChild(integerCell);

        table.appendChild(row);
      }
    }

    // Call the function to create the table
    createTable();
  </script>
  <input type="submit" value="Crear">





  <script>
    function createTable() {
      const table = document.getElementById('customTable');

      // Clear existing table
      while (table.firstChild) {
        table.removeChild(table.firstChild);
      }

      // Create new table
      const labels = ['Periodo preparativo', 'Periodo competitivo'];
      const subLabels = [['Etapa general', 'Etapa especial'], ['Precompetitivo', 'Competitivo']];
      for (let i = 0; i < 2; i++) {
        const row = document.createElement('tr');

        const labelCell = document.createElement('td');
        labelCell.textContent = labels[i];
        row.appendChild(labelCell);

        const decimalCell = document.createElement('td');
        const decimalInput = document.createElement('input');
        decimalInput.type = 'number';
        decimalInput.step = '0.01';
        decimalCell.appendChild(decimalInput);
        row.appendChild(decimalCell);

        const integerCell = document.createElement('td');
        const integerInput = document.createElement('input');
        integerInput.type = 'number';
        integerInput.step = '1';
        integerCell.appendChild(integerInput);
        row.appendChild(integerCell);

        table.appendChild(row);

        // Create sub-tables
        const subTable = document.createElement('table');
        for (let j = 0; j < 2; j++) {
          const subRow = document.createElement('tr');

          const subLabelCell = document.createElement('td');
          subLabelCell.textContent = subLabels[i][j];
          subRow.appendChild(subLabelCell);

          const weeksCell = document.createElement('td');
          const weeksInput = document.createElement('input');
          weeksInput.type = 'number';
          weeksInput.step = '1';
          weeksCell.appendChild(weeksInput);
          subRow.appendChild(weeksCell);

          const percentageCell = document.createElement('td');
          const percentageInput = document.createElement('input');
          percentageInput.type = 'number';
          percentageInput.step = '0.01';
          percentageInput.min = '0';
          percentageInput.max = '100';
          percentageCell.appendChild(percentageInput);
          subRow.appendChild(percentageCell);

          subTable.appendChild(subRow);
        }
        table.appendChild(subTable);
      }
    }

    // Call the function to create the table
    createTable();
  </script>

</form>







</html>